DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Choose: sqlite, postgresql, mysql
DB_ENGINE=sqlite

# SQLite
SQLITE_NAME=db.sqlite3

# PostgreSQL / MySQL
DB_NAME=truthlens
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
